#root {
  display: flex;
  justify-content: center;
  color: cyan;
  font-family: sans-serif;
}

body {
  background-image: url(https://www.wallpapertip.com/wmimgs/56-561351_black-desert-online-wallpaper-musa.jpg);
  background-image: url(https://www.wallpapertip.com/wmimgs/56-561351_black-desert-online-wallpaper-musa.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.app {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.completion-bar-goals-wrapper {
  background-color: black;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.completion-bar-wrapper {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: ;
  align-items: center;
}

.completion-bar {
  height: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.todo-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 400px;
  box-shadow: 5px 5px 5px #f5f5f5;
}

.add-todo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  padding-bottom: 15px;
}

.add-todo input,
button {
  border-radius: 10px;
  outline: none;
  border: none;
}

.add-todo input {
  padding-left: 5px;
}

.todo-item {
  display: flex;
  align-items: center;
  width: 80%;
}

.check-box {
  width: 50px;
  height: 50px;
  margin-right: 33px;
}

p {
  width: 100%;
}

.delete-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.done {
  color: grey;
  text-decoration: line-through;
}
